{% for intf in L3_interfaces %}
interface {{ intf.name }}
{% if "Ethernet" in intf.name  %}
   no switchport
   mtu {{ intf.mtu }}
{% elif "Vlan" in intf.name  %}
   mtu {{ intf.mtu }}
{% endif %}
   description {{ intf.description }}
   ip address {{ intf.address }}{{ intf.mask }}
{% endfor %}


